* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FF3B3F;
    font-family: Arial, sans-serif;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

img {
    width: 150px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color: #FF3B3F;
}

button:hover {
    background-color: #ff7377;
}

#noBtn {
    background-color: #FF3B3F;
}

#noBtn:hover {
    background-color: #ff7377;
    position: absolute;
}
